Makefile.PL
Makefile.PL.bak
blib
Win32-Job-*
blib*
Makefile
Makefile.old
Build
_build*
pm_to_blib*
*.tar.gz
.lwpcookies
cover_db
Build.bat
*.tmp

META.*
MYMETA.*

dll.base
Job.bs
Job.c
Job.def
dll.exp
Job.o
